* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1,
h3 {
  text-align: center;
}

header {
  background-color: lightblue;
  padding: 5px;
  margin: 0px;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header li {
  background-color: white;
  padding: 10px;
  font-size: 15px;
  list-style-type: none;
  border-radius: 20px 5px;
  transition: all 1s ease-in-out;
}

header li:hover {
  transform: scale(1.2);
}

header a {
  text-decoration: none;
  color: black;
}

/* header a:hover {
  color: lightblue;
} */
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left,
.right {
  flex: 1;
  margin: 20px;
}

.message {
  color: red;
}

i {
  cursor: pointer;
  margin: 5px;
}

#post {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 20px;
  box-shadow: 0 4px 7px 2px gray;
  margin: 15px 10px;
}

.options {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: lightblue;
  width: 40%;
  margin: 10px auto;
}

/* Modal styles */

.center {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  font-size: 20px;
  width: 30%;
  margin: 10px auto;
  padding: 10px;
}

#button {
  padding: 10px;
  margin: 10px;
  background-color: lightblue;
  border: none;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 5px 10px 0 gray;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto 0 auto;
  padding: 20px;
  width: 33%;
  box-shadow: 0 5px 8px 0 black, 0 8px 20px 0 gray;
  animation-name: modalOpen;
  animation-duration: 0.5s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .modal-content p{
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
} */

.opt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-bottom: 2px solid gray;
}

#closeBtn {
  font-size: 40px;
  color: blue;
  padding: 5px;
}

#closeButton:hover,
#closeBtn:hover {
  cursor: pointer;
  color: black;
  background-color: lightcoral;
}

#addButton:hover {
  cursor: pointer;
  background-color: lightgreen;
}

.input-div {
  margin: 20px 0px;
}

label {
  margin: 5px 0;
  font-weight: bold;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 5px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* textarea#desc{
    height: 70%;
} */
.tasks {
  background-color: lightblue;
  width: 40%;
  margin: 10px auto;
  padding: 20px;
}
.app h2 {
  text-align: center;
  text-transform: uppercase;
}

.tasks div {
  background-color: white;
  padding: 20px;
  margin: 10px;
}
/* .tasks div .options{
    
} */

.errorMsg {
  font-size: 14px;
  text-align: left;
  color: red;
}

@media (max-width: 900px) {
  .modal-content {
    width: 60%;
  }

  .center,
  .tasks {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .modal-content {
    width: 80%;
  }

  .center,
  .tasks {
    width: 80%;
  }
}
